**/devel/
**/logs/
**/build/
.catkin_tools/
**/__pycache__/
*.pyc
**/.vscode/
**/.history/
*/*/.vscode/
*/*/.history/
**/*egg-info/
*.goutputstream
rvt/data/train/
rvt/data/val/
rvt/data/test/
rvt/replay/
coppelia_install_dir/
rvt/runs/
runs_ngc_mnt
runs_temp
*.ipynb_checkpoints/
dist/
*.pth
*.zip
**/manuscripts/
rvt/libs
